@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p, form,ul{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

form{
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

h1,h2,h3{
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

a, a:hover{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbar{
    background-color: #92b893;
    
}

.nav-link{
    color: #3e463e;
}

.nav-link:hover{
    color: #288840;
}

.navbar-nav{
    text-align: center;
}

.sin{
    padding: 0;
    margin: 0;
}

.botonesReserva{
    color: rgb(0, 0, 0);
    transition: transform 0.3s ease;
}

.botonesReserva:hover{
    color: #288840;
    transform: scale(1.1);
}

.fondoPresentacion{
    background-color: #beddbf;
}

.fondoClaro{
    background-color: rgb(216, 221, 211);
}

.fondoVerde{
    background-color: #D7ECD6;
}

.textoPresentacion{
    font-size: 30px;
    text-align: center;
    margin-top: 70px;
}

.textoServicios{
    margin: 0 15% 10% 15%
}

.camposFormulario{
    margin-top: 5%;
    margin-bottom: 6%;
}

.textoFormulario{
    margin-top: 2%;
    margin-left: 30%;
}

.personal{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: #3e463e 2px 2px 5px;
}

.textoequipo{
    text-align: center;
}

.fondoPagina{
    background-color: rgba(235, 235, 235, 0.637);
}

.fondopie{
    background-color: rgba(31, 102, 46, 0.801);
    color: white;
    font-weight: 100px;
}

.servicios{
    width: 80%;
    margin: 10%;
    transition: transform 0.3s ease;
}

.servicios:hover{
    transform: scale(1.1);
}

.mapa{
    margin: 5%;
}

ul{
    list-style: none;
}
